html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#stage-wrap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#stage {
    width: 1500px;
    height: 5336px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#stage-minimap {
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

#stage-minimap .map {
    width: 100%;
    height: 100%;
}

#stage-minimap .indicator {
    left: 0;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(50, 50, 50);
    opacity: 0.9;
    -webkit-animation: flash 0.4s linear 0s infinite alternate;
}

@-webkit-keyframes flash {
    0% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.5;
    }
}

#stage-noise {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}