html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#stage-wrap {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#stage-elements {
    width: 1500px;
    height: 5336px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#stage-minimap {
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-sizing: content-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 75px;
    height: 266.8px;
    background: url(assets/galaxy-map.jpg) no-repeat 0 0;
}

#stage-minimap .indicator {
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    top: 0;
}

#galaxy-fog {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}