#opening {
    width: 100%;
    height: 100%;
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    -webkit-tranform: translateZ(9999px);
}

#opening .star {
    left: 0;
    top: 0;
    position: absolute;
    width: 6.667rem;
    height: 6.667rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    will-change: -webkit-transform;
    -webkit-transform-origin: 0 0 0;
}

#opening .chicken {
    left: 0;
    top: 0;
    position: absolute;
    width: 7.96rem;
    height: 6.32rem;
    background-repeat: no-repeat;
    background-position: left 0;
    background-size: 16.133rem 6.32rem;
    will-change: -webkit-transform;
    -webkit-transform-origin: 0 0 0;
    -webkit-animation: fly 0.2s linear 0s infinite;
}

@-webkit-keyframes fly {
    0% {
        background-position: left 0;
    }

    49.999% {
        background-position: left 0;
    }
    50% {
        background-position: right 0;
    }

    100% {
        background-position: right 0;
    }
}