#pop {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    webkitTransform: translateZ(9999px);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

.popWin {
    width: 8.29rem;
    height: 6.2rem;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}