body.anime {
    -webkit-backface-visibility: visible;
    -webkit-perspective-origin: 0% 50%;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 10rem;
}

#preload {
    -webkit-transform: rotateY(0);
}

#preload .bg {
    width: 100%;
    height: 100%;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transition: opacity 0.4s linear 0s;
    position: relative;
}

#preload .light {
    position: absolute;
    width: 100%;
    height: 11.973rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0;
    bottom: 3.786rem;
}

#preload .logo {
    position: absolute;
    width: 10rem;
    height: 11.973rem;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    left: 0rem;
    bottom: 3.786rem;
    opacity: 0;
}

#preload .logo.anime {
    -webkit-transition: opacity 0.6s ease-in 0s;
    opacity: 1;
}

#preload.anime {
    -webkit-transform-origin: 0 50% 0;
    -webkit-transition: -webkit-transform 1s ease-out 0s;
    -webkit-transform: rotateY(90deg);
}