#stage-wrap {
    display: none;
}

#stage-wrap .stage {
    width: 100%;
    height: 100%;
}

#stage-wrap .stage div {
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#stage-wrap .stage .galaxy-top {
    height: 20%;
}

#stage-wrap .stage .galaxy-mid, 
    #stage-wrap .galaxy-bottom {
    height: 40%;
}

#stage-wrap .star {
    position: absolute;
    width: 100%;
    height: 200%;
    left: 0;
    top: 0;
    opacity: 0.5;
    -webkit-transform: translateY(-50%) translateZ(9px);
    -webkit-animation: infiroll 360s linear 0s infinite;
    background-position: center center;
    background-repeat: repeat;
}

#stage-wrap .elements {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#stage-wrap .elements > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#stage-wrap .elements .static div {
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
}

#stage-wrap .elements-top {
    height: 20%;
}

#stage-wrap .elements-mid,
    #stage-wrap .elements-bottom {
    height: 40%;
}


